html {
    font-family: 'Abel', sans-serif;
    font-weight: bolder;
    padding: 0;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #faebd7;
}

/*User Input*/


#userInput{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* border: 2px solid green; */
    padding: 10px;
    flex-wrap: wrap;
    margin: 10px;
    /* background-image: url(./capodocia.jpg); 
    background-size: cover;
    background-position: center;
    min-height: 50vh; */
    /* min-height: 300px; */
}

#image {
    /* border: 2px solid green;  */
    background-image: url(./capodocia.jpg); 
    background-size: cover;
    background-position: center;
    min-height: 50vh;
}

#userInput > * {
    padding: 8px;
    font-size: large;
    margin: 5px;
    height: 2rem;
}

#userInput > button {
    padding: 8px;
    cursor: pointer;
    height: 3.5rem;
    background-color: rgb(205, 44, 44);
    color: white;
    font-size: medium;
    border: rgb(205, 44, 44);
}

#userInput > button:hover {
    background-color: black;
    border: black;
    transform: scale(1.1);

    
}

#userInput > #flightDate {
    cursor: pointer;
}

/*Flights*/


#loading{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: x-large;
}

#loading > * {
    margin: 20px;
}

#flights{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid white; */
    padding: 20px;
}

#flights > article {
    display: flex;
    flex-direction: column;
    font-size: larger;
    width: 50%;
}

@media only screen and (max-width: 500px) {
    #flights{
        
        flex-direction: column;
        
    } 

    #flights > article {
        width: 100%;
    }

    #userInput {
        flex-direction: column;
    }

  }
  


.flightDiv{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row; 
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px gray;
    margin: 10px;
    cursor: pointer;
    align-items: center;

}

.flightDiv:hover{
    transform: scale(1.05);
    background-color: rgb(216, 216, 216);
    
}
.flightDiv > * {
    margin: 20px;
}
.infoDiv{
    display: flex;
    flex-direction: column;
    flex-direction: center;
    align-items: center;
    font-size: medium;
    margin: auto;

    
}

.infoDiv > * {
    padding: 0.1rem;
    margin: auto;
}


.infoDiv > img{
    height: 50px;
    width: 50px;
   

}

.flightDiv > span{
    margin: auto;
    font-size: larger;
    padding: 0.5rem;
}

span:nth-child(4){
    font-style: italic;
    font-size: x-large;
}

h1 {
    /* position: absolute; */
    color: white;
    /* left: 30px; */
    font-size: xx-large;
    padding: 2rem;
    margin: 0;
}

a{
    text-decoration: none;
    color: black;
}

i {
    padding: 1rem;
    color: rgb(91, 91, 91);
}

#flightHourDiv {
    display: block;
    margin: auto;
    
}

